<%= form_with(model: @board, local: true, class: "form") do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Board name" %>
  </div>
  <%= f.submit nil, class: "green" %>
<% end %>